.j1 {
    color:white;
  }
.footer2
{
    background-color:rgb(208, 165, 233);
    

}
.m-1
{
    padding-top: 15px;
    padding-bottom: 10px;
}
.marg
{
    padding-left: 120px;
    padding-right: 120px;
}
.marg2
{
    padding-left:10px;
}